.rocket-detail-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  .rocket-detail-card .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .form-fields-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
 
  .form-fields-container mat-form-field {
    flex: 1;
  }
  
  
  