<div class="rocket-creator-card">
    <mat-form-field appearance="fill">
      <mat-label>Rocket Name</mat-label>
      <input matInput [(ngModel)]="rocket.name" placeholder="Enter rocket name">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Mission</mat-label>
      <input matInput [(ngModel)]="rocket.mission" placeholder="Enter mission details">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
        <mat-label>Speed (km/s)</mat-label>
        <input matInput type="number" [(ngModel)]="rocket.speed" placeholder="Enter initial speed">
      </mat-form-field>
  
      <button mat-raised-button (click)="goBack()">Back</button>
    <button mat-raised-button color="primary" (click)="createRocket()">Create</button>
  </div>
  