<div class="elevated-card">
  <mat-form-field appearance="fill">
    <mat-label>Select a Rocket</mat-label>
    <mat-select [(value)]="selectedRocket">
      <mat-option *ngFor="let rocket of rockets" [value]="rocket.id">
        {{ rocket.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="goToUpdateRocket(selectedRocket)">GOTO</button>
    <button mat-raised-button color="accent" (click)="createRocket()">Create Rocket</button>
  </div>
</div>
